form button {
    background-color: #3444CE;
    color: #fff;
    border: none;
    outline: none;
    padding: 5px;
    border-radius: 8px 0 0 8px;
    margin-left: 10px;
}

.FaLongArrowAltLeft {
    color: rgba(52, 180, 235);
}

.FaLongArrowAltRight {
    color: rgba(255, 99, 132);
}

.button-transaction-edit2,
.button-transaction-delete2 {
    cursor: pointer;
}

.button-transaction-edit2:hover {
    color: black
}

.button-transaction-delete2:hover {
    color: black
}

.buttons2 {
    background-color: #3444CE;
    color: #fff;
    border: none;
    outline: none;
    padding: 5px;
    border-radius: 8px 0 0 8px;
    margin-left: 10px;
}



.react-confirm-alert-button-group>button {
    background-color: #3444CE !important;

    align-self: flex-end !important;
    outline: none !important;
    margin-top: 20px !important;
    padding: 10px !important;
    border-radius: 8px 0 0 8px !important;
    align-self: flex-end !important;
    padding: 10px 40px !important;

}

.react-confirm-alert-button-group {
    justify-content: flex-end !important;
}

.react-confirm-alert-button-group>button {
    font-size: 16px !important;
}


.react-confirm-alert-body {
    margin: 0;
    color: black !important;
    font-size: 30px !important;
    text-align: center !important;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif !important;
}

.block2 {
    display: flex;
}

.btn3 {
    background-color: #3444CE;
    color: #fff;
    border: none;
    outline: none;
    padding: 5px;
    border-radius: 8px 0 0 8px;
    margin-left: 0px;
}