.FaLongArrowAltLeft {
    
    color: red;
}
.FaLongArrowAltRight{
    color:green;
}
.button-transaction-edit2, 
.button-transaction-delete2{
cursor: pointer;
}

.button-transaction-edit2:hover, 
.button-transaction-delete2:hover{
    color: #000;
}
.buttons{
    background-color: #3444CE;
  color: #fff;
  align-self: flex-end;
  border: none;
  outline: none;
  margin-top: 20px;
  padding: 10px;
  border-radius: 8px 0 0 8px;
  align-self: flex-end;
}
.success-Delete{
    text-align: center;
    font-size: 30px;
}