.tablte-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 1rem;
  background-color: #fff;
  margin-right: 5.62rem;
  border-radius: 15px;
}

.success-Delete {
  text-align: center;
  font-size: 30px;
}

.tablte-container {
  overflow-x: scroll;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:not(:first-child):hover {
  background-color: #eddcfa;
 

}

.alltransaction-label {
  margin: 10px;
}

.alltransactions-select-input {

  width: 150px;
  height: 30px;
  margin: 10px 0;
}



.transaction__icon {
  font-size: 30px;
  display: flex;
  align-items: center;
}

.button-transaction-edit2 {

  color: green;


}

.button-transaction-delete2 {

  color: red;
}


.button-transaction-delete2 .button-transaction-edit2 {
  display: inline;
}

.filtered-sum {
  font-weight: bold;
  margin-bottom: 0;
}



/* .block2 {
  display: flex;
 
  margin: 10px;
  

} */


@media only screen and (max-width: 867px) {
  .tablte-container {
    display: flex;
    width: 100%;


  }
  .block .item-inline{
    display: flex;
    /* margin: 10px; */
  }

  .block {
    max-width: 250px;
    display: flex;
    justify-content: space-between;
  }
  .div-label {
    padding: 2px;
    box-sizing: border-box;
    display: inline-block;
    width: min(30%, 400px);
  
  
  }

  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  .tablte-container {
    padding-right: 1.62rem;

  }




  .button-transaction-edit2 {
    display: flex;
    color: green;

  }

  .button-transaction-delete2 {
    display: flex;
    color: red;
  }
}

@media only screen and (max-width: 400px) {
  .tablte-container {
    display: block;
    /* width: 80%; */


  }


  .transaction__icon {
    display: none;
  }

  .button-transaction-edit {
    display: none;
  }

  .button-transaction-edit2 {
    display: flex;
    color: red;
  }

  .button-transaction-delete2 {
    display: flex;
    color: green;
    margin-right: 10px;
  }

  .button-transaction-delete {
    display: none;
  }
}

@media only screen and (min-width: 867px){
.block {
    max-width: 250px;
    display: inline-flex;
    justify-content: space-between;
}
 .select-category{
  position: relative;
  top:3px;
  left: 15px

 }
}