.FaLongArrowAltLeft {
    color: red;
}

.FaLongArrowAltRight {
    color: green;
}

.button-transaction-edit2,
.button-transaction-delete2 {
    cursor: pointer;
}

.button-transaction-edit2:hover {
    color: black
}

.button-transaction-delete2:hover {
    color: black
}