.wallet__list-item {
  display: flex;
  justify-content: space-between;
}

.wallet__list-item svg:hover {
  color: black;
}

.wallet__list-item svg {
  cursor: pointer;
}

.wallet__list-item .delete {
  color: red
}

.wallet__list-item .edit {
  color: green;
  margin-right: 10px;
}

.error {
  color: red;
}