.header {
    height: 50px;
    padding: 30px 30px 30px 50px;
   
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.nav ul li {
    margin-right: 15px;
 
    list-style-type: none;
    display: inline;
   
    
}
.nav ul li a {
    margin-right: 15px;
    text-decoration: none;
    color: #929CAB
}

.user {
    display: flex;
    align-items: center;
    justify-content: center;
}

.user__name h3 {
    font-size: 20px
}

.user__name h3,
.user__name p {
    margin: 0;
}

.user__icon {
    border: 1px solid black;
    border-radius: 50%;
    display: inline-block;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 20px
}

.icons .icon {
    font-size: 25px;
    margin-right: 15px;
}


@media only screen and (min-width: 1025px) {
    .nav li a {
        margin-right: 30px;
    }
}

@media only screen and (max-width: 726px) {
    .user__name {
        display: none;
    }
}