.budget {
  background-color: #E9DEF6;
  border-radius: 10px;
  min-width: 120px;
  height: 200px;
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.budget__icon {
  background-color: #fff;
  padding: 10px;
  display: inline-block;
  border-radius: 10px;
}

.budget__name {
  color: #3444CE;
  font-weight: 500;
}

.budgets button {
  background-color: #3444CE;
  color: #fff;
  align-self: flex-end;
  border: none;
  outline: none;
  margin-top: 20px;
  padding: 10px;
  border-radius: 8px 0 0 8px;
  align-self: flex-end;
}

.icons {
  display: flex;
  justify-content: space-between;
}

.action__items {
  display: flex;
}

.budget__icon-delete {
  color: red;
  font-size: 20px;
  cursor: pointer;
  padding-right: 5px;
}

.budget__icon-edit {
  color: green;
  font-size: 20px;
  cursor: pointer;
}

.budget__icon-delete:hover,
.budget__icon-edit:hover {
  color: black
}

.btn8 {
  background-color: #3444CE;
  align-self: flex-end;
  outline: none;
  margin-top: 20px;
  padding: 10px;
  border-radius: 8px 0 0 8px;
  align-self: flex-end;
  padding: 10px 40px;
}

.btn8:hover {
  color: #fff;
  background-color: #5c636a;
  border-color: #565e64;
}

.select-input5 {
  width: 183px;
  height: 30px;
  margin: 20px 0 0 0;
}

.modal-dialog {
  width: 300px;
  padding: 30px;
}

.modal-footer {
  display: flex;
  justify-content: center;
}

.usercategory-modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.transaction-modal__title {
  text-align: center;
}