.wallet {
    min-width: 200px;
    max-width: 200px;
    height: 100px;
    background-color: #5C6FE4;
    margin-left: -40px;
    margin-top: 50px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 20px;
    color: #fff;
    cursor: pointer;
}

.wallet p {
    margin: 0;
    text-transform: uppercase;
}

.wallet__top {
    display: flex;
    justify-content: space-between;
}

.wallet__list {
    padding: 10px 30px
}
.modal-footer{
    padding: 0;
}

.modal-footer button {
    background-color: #3444CE;
    color: #fff;
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 8px 0 0 8px;
    margin-left: 10px;
}

@media only screen and (max-width: 768px) {
    .wallet {
        margin: 20px 0;
    }
}

@media only screen and (min-width: 1025px) {
    .wallet {
        margin-left: -90px;
    }
}