.tablte-container{
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 1rem;
  background-color: #fff;
  margin-right: 90px;
  border-radius: 15px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}
tr:hover {
    background-color:  rgb(52, 68, 206);
    color: #fff;
    
  } 
  .button-transaction-edit{
    border-radius: 5px;
    background-color: #cc2900;
    color:#fff
  }
  .button-transaction-delete{
    border-radius: 5px;
    background-color: #009116;
    color:#fff
  }

  .transaction__icon {
    font-size: 30px;
    display: flex;
    align-items: center;
}
@media only screen and (max-width: 867px) {
  .tablte-container {
    display: flex;
    width: 80%;
    
    
  }
  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  .transaction__icon{
    display: none;
  }
  
  

  .button-transaction-edit2{
    display: none;
  }
  .button-transaction-delete2{
    display: none;
  }
}

@media only screen and (max-width: 400px) {
  .tablte-container {
    display: block;
    width: 80%;
    
    
  }

  .button-transaction-edit{
    display:none;
  }
  .button-transaction-edit2{
    display: flex;
    color: red;
  }
  .button-transaction-delete2{
    display: flex;
    color: green;
  margin-right: 10px;
  }
  .button-transaction-delete{
    display: none;
  }
}